<h1 mat-dialog-title>Agregar sensor</h1>
<div mat-dialog-content>
  <div>
	  <mat-form-field>
		<input matInput (keyup.enter)="close()" [(ngModel)]="newSensor.id" type="text" placeholder="ID...">
	  </mat-form-field>
  </div>
  <div>
	  <mat-form-field>
		<input matInput (keyup.enter)="close()" [(ngModel)]="newSensor.lat" type="number" placeholder="Latitud...">
	  </mat-form-field>
  </div>
  <div>
	  <mat-form-field>
		<input matInput (keyup.enter)="close()" [(ngModel)]="newSensor.lon" type="number" placeholder="Longitud...">
	  </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button *ngIf="idNonEmpty" mat-button [mat-dialog-close]="newSensor" value="location.reload()" cdkFocusInitial>Guardar</button>
</div>