:host {
  padding: 30px;
  background-color: #0070c0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

nav {
  transition: all 400ms;

  .nav-item {
    color: white;
  }

  ul {
    justify-content: space-between;
    width: calc( 100% - 60px );
    padding: 0;
    margin: 0;
    display: flex;

    li {
      list-style: none;
      display: inline-block;

      mat-icon {
        vertical-align: sub;
      }
    }
  }
}

button {
  height: 100%;
  font-size: 1.3rem;
  outline: none;
}