<div class="container">
  <h1>HOLA</h1>
  <table>
    <tr><td>Edad</td><td>{{user.age}}</td></tr>
    <tr><td>Categoria</td><td>{{user.category}}</td></tr>
    <tr><td>Configurado</td><td>{{user.configured}}</td></tr>
    <tr><td>Email</td><td>{{user.email}}</td></tr>
    <tr><td>Nombre</td><td>{{user.name}}</td></tr>
    <tr><td>Telefono</td><td>{{user.phone}}</td></tr>
    <tr><td>Provincia</td><td>{{user.province}}</td></tr>
    <tr><td>Usuario</td><td>{{user.username}}</td></tr>
  </table>
</div>