<div class="container">
  <h3>Período de actualización</h3>
  <mat-select #cant [value]="periods[0]" (selectionChange)="updateParams(cant, unit)">
    <mat-option *ngFor="let period of periods" [value]="period">{{period}}</mat-option>
  </mat-select>
  <mat-select #unit [value]="units[1][1]" (selectionChange)="updateParams(cant, unit)">
    <mat-option *ngFor="let unit of units" [value]="unit[1]">{{unit[0]}}</mat-option>
  </mat-select>
  <button *ngIf="!paused" (click)="pause()" mat-raised-button>
    <mat-icon matPrefix svgIcon="pause"></mat-icon> Pausar
  </button>
  <button *ngIf="paused" (click)="play()" mat-raised-button>
    <mat-icon matPrefix svgIcon="play"></mat-icon> Continuar
  </button>
  <canvas id="canvas"></canvas>
</div>